@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:wght@300;500;700;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #212121;
}

h2 {
  font-family: "Bebas Neue";
  font-size: 50px;
}

header {
  position: fixed;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: calc(100% - 30px);
  padding: 0px 15px;
  z-index: 100;
}
header .contact-button {
  cursor: pointer;
  font-size: 24px;
  font-family: "Bebas Neue";
}
header .contact-button i {
  margin-right: 5px;
}
header .contact-button:hover {
  color: #423BD7;
}
header .contact-modal-container {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
header .contact-modal-container .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  width: 600px;
  font-size: 18px;
}
@media only screen and (max-width: 800px) {
  header .contact-modal-container .modal {
    width: calc(100vw - 40px - 20px);
  }
}
header .contact-modal-container .modal > *:not(:last-child) {
  margin-bottom: 10px;
}
header .contact-modal-container .modal h2 i {
  background: linear-gradient(-45deg, #4059E1, #4500C2);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
header .contact-modal-container .modal .mail {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  color: white;
  background: linear-gradient(-45deg, #4059E1, #4500C2);
  border-radius: 10px;
  font-family: "Bebas Neue";
  font-size: 30px;
}
header .contact-modal-container .modal .mail:hover {
  opacity: 0.9;
}
header .contact-modal-container .modal li {
  display: flex;
  align-items: center;
}
header .contact-modal-container .modal li::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #423BD7;
  border-radius: 100%;
  display: block;
  margin-right: 5px;
}
header .contact-modal-container .modal .close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.8;
  font-size: 30px;
}
header .contact-modal-container .modal .close:hover {
  opacity: 1;
  position: absolute;
}

main {
  margin-top: 70px;
}
main #title {
  padding: 0;
  position: relative;
  height: 520px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 800px) {
  main #title {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    height: auto;
  }
}
main #title .background-image {
  background-size: cover;
  background-position: center;
  z-index: -4;
}
@media only screen and (max-width: 800px) {
  main #title .background-image {
    height: 150px;
  }
}
main #title .nameAndLogo-container {
  position: relative;
}
@media only screen and (max-width: 800px) {
  main #title .nameAndLogo-container {
    padding: 10px 0 30px 0;
  }
}
main #title .nameAndLogo-container .background-1, main #title .nameAndLogo-container .background-2 {
  position: absolute;
  width: 125%;
  height: 125%;
  top: 50%;
}
@media only screen and (max-width: 800px) {
  main #title .nameAndLogo-container .background-1, main #title .nameAndLogo-container .background-2 {
    left: 50%;
    top: 0;
  }
}
main #title .nameAndLogo-container .background-1 {
  background: rgba(255, 255, 255, 0.4392156863);
  transform: rotate(5deg) translate(-100px, -50%);
  z-index: -2;
}
@media only screen and (max-width: 800px) {
  main #title .nameAndLogo-container .background-1 {
    transform: rotate(5deg) translate(-50%, -30px);
  }
}
main #title .nameAndLogo-container .background-2 {
  background: linear-gradient(-45deg, #4059E1, #4500C2);
  transform: rotate(5deg) translate(-70px, -50%);
  z-index: -1;
}
@media only screen and (max-width: 800px) {
  main #title .nameAndLogo-container .background-2 {
    transform: rotate(5deg) translate(-50%, 0px);
  }
}
main #title .nameAndLogo-container .nameAndLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
main #title .nameAndLogo-container .nameAndLogo .image-background {
  position: absolute;
  width: 1000px;
  height: 1000px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
@media only screen and (max-width: 800px) {
  main #title .nameAndLogo-container .nameAndLogo .image-background {
    width: 700px;
  }
}
main #title .nameAndLogo-container .nameAndLogo img {
  width: 400px;
  margin-top: -20px;
}
@media only screen and (max-width: 800px) {
  main #title .nameAndLogo-container .nameAndLogo img {
    width: 80%;
  }
}
main #title .nameAndLogo-container .nameAndLogo h1 {
  color: white;
  font-family: "Bebas Neue";
  font-size: 40px;
}
main section:nth-child(2n) {
  background-color: #EFEFEF;
}
main #infoStrip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}
@media only screen and (max-width: 800px) {
  main #infoStrip {
    flex-direction: column;
  }
}
main #infoStrip .info, main #infoStrip .circle {
  margin-right: 30px;
}
@media only screen and (max-width: 800px) {
  main #infoStrip .info, main #infoStrip .circle {
    margin-bottom: 10px;
  }
}
main #infoStrip .info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue";
  color: #212121;
  font-size: 50px;
  text-align: center;
}
main #infoStrip .circle {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #423BD7;
}
main #presentation {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 800px) {
  main #presentation {
    grid-template-columns: 100%;
    grid-row: 2;
  }
}
main #presentation .image-container, main #presentation .info-container {
  position: relative;
}
main #presentation .part-info, main #presentation .part-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
main #presentation .part-info {
  padding: 50px;
}
main #presentation .part-info h2 {
  font-size: 70px;
  background: linear-gradient(-45deg, #4059E1, #4500C2);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
main #presentation .part-info p {
  font-size: 24px;
}
main #presentation .part-image .image-container {
  height: 500px;
  width: 550px;
  padding: 20px;
}
main #presentation .part-image .img1, main #presentation .part-image .img2 {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
main #presentation .part-image .img1 {
  transform: translate(calc(-50% + 100px), calc(-50% - 100px));
  width: 400px;
  height: 300px;
}
main #presentation .part-image .img2 {
  transform: translate(calc(-50% - 100px), calc(-50% + 100px));
  width: 300px;
  height: 300px;
}
@media only screen and (max-width: 800px) {
  main #presentation .part-image .image-container {
    padding: 0;
    height: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  main #presentation .part-image .img1, main #presentation .part-image .img2 {
    top: auto;
    left: auto;
    position: relative;
    transform: translate(0, 0);
    width: 100%;
    height: 200px;
    border-radius: 0;
  }
}
main #activity {
  text-align: center;
  padding: 30px 0px;
}
main #activity h2 {
  color: #212121;
}
main #activity .activities {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
main #activity .activity {
  width: 300px;
  margin-right: 20px;
}
@media only screen and (max-width: 800px) {
  main #activity .activity {
    margin-bottom: 20px;
  }
}
main #activity .activity i {
  font-size: 80px;
  background: linear-gradient(-45deg, #4059E1, #4500C2);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
main #activity .activity p {
  margin-top: 20px;
  font-size: 30px;
  color: #212121;
  font-family: "Bebas Neue";
}
main #sponsor {
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 800px) {
  main #sponsor {
    grid-template-columns: 100%;
    grid-row: auto auto;
  }
}
main #sponsor .title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
@media only screen and (max-width: 800px) {
  main #sponsor .title-container {
    background: linear-gradient(-45deg, #4059E1, #4500C2);
  }
}
main #sponsor .title-container .background-1 {
  position: absolute;
  width: 100%;
  height: 400%;
  top: 50%;
  background: linear-gradient(-45deg, #4059E1, #4500C2);
  transform: rotate(5deg) translate(-100px, -50%);
  z-index: -2;
}
@media only screen and (max-width: 800px) {
  main #sponsor .title-container .background-1 {
    display: none;
  }
}
main #sponsor .title-container h2 {
  color: white;
}
main #sponsor .sponsor-images {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #sponsor .sponsor-images span {
  background-size: contain;
  height: 100px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
}
main #location {
  display: grid;
  grid-template-columns: 40% 60%;
}
@media only screen and (max-width: 800px) {
  main #location {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}
main #location .map {
  background-size: cover;
  background-position: center;
  min-height: 300px;
}
main #location .info {
  padding: 30px;
}
main #location .info h2 {
  font-size: 70px;
  background: linear-gradient(-45deg, #4059E1, #4500C2);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
main #location .info > div {
  font-size: 20px;
  margin-top: 20px;
}
main #location .info .text-icon {
  display: flex;
  align-items: center;
}
main #location .info .text-icon span {
  min-width: 50px;
}
main #location .info .text-icon span i {
  font-size: 40px;
  background: linear-gradient(-45deg, #4059E1, #4500C2);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
main #location .info .text-icon p {
  text-align: left;
}
main #club {
  display: grid;
  grid-template-columns: 40% 60%;
  font-size: 20px;
}
@media only screen and (max-width: 800px) {
  main #club {
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
  }
}
main #club .info {
  padding: 30px;
}
main #club .logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
@media only screen and (max-width: 800px) {
  main #club .logo {
    background-size: contain;
    background-position: center;
    margin-top: 30px;
  }
}

footer {
  background-color: #EFEFEF;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  opacity: 0.8;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */