---
layout : home
---

<section id="title">
    <div class="background-image" style="background-image: url('ressources/fjn1.jpg')"></div>
    <div class="nameAndLogo-container">
        <span class="background-1"></span>
        <span class="background-2"></span>
        <span class="nameAndLogo">
            <span class="image-background" style="background-image: url('ressources/siteBackground.png')"></span>
            <img src="/ressources/LogoBig.png"/>
            <h1>Festival du jeu Nantais</h1>
        </span>
    </div>
</section>

<section id="infoStrip">
    <h2 class="info">
        15 et 16 octobre 2022
    </h2>
    <span class="circle"></span>
    <h2 class="info">
        10h à 18h
    </h2>
    <span class="circle"></span>
    <h2 class="info">
        4€ par personne
    </h2>
</section>

<section id="presentation">
    <div class="part-info">
        <div class="info-container">
            <h2>Venez jouer en famille aux jeux d’aujourd’hui et de demain</h2>
            <p>Cette année, le festival du jeu nantais fait peau neuve et vous propose de venir jouer à un grand nombre de jeux de société fournis par l’association et nos partenaires.</p>
        </div>
    </div>
    <div class="part-image">
        <div class="image-container">
            <span class="img1" style="background-image: url('ressources/fjn4.jpg')"></span>
            <span class="img2" style="background-image: url('ressources/fjn3.jpg')"></span>
        </div>
    </div>
</section>

<section id="activity">
    <h2>Retrouvez de nombreuses activités</h2>
    <div class="activities">
        <span class="activity">
            <i class="fa-solid fa-otter"></i>
            <p>Participez à un magnifique concours de loutre</p>
        </span>
        <span class="activity">
            <i class="fa-solid fa-football"></i>
            <p>Du rugby en folie</p>
        </span>
        <span class="activity">
            <i class="fa-solid fa-kiwi-bird"></i>
            <p>Venez admirer Pilou, le kiwi du club</p>
        </span>
    </div>
</section>

<section id="sponsor">
    <div class="title-container">
        <span class="background-1"></span>
        <span class="title">
            <h2>Nos Partenaires</h2>
        </span>
    </div>
    <div class="sponsor-images">
        <span style="background-image: url('ressources/unantes-logo.png')"></span>
        <span style="background-image: url('ressources/PolytechNantesLogo.jpg')"></span>
    </div>
</section>

<section id="location">
    <div class="map" style="background-image: url('ressources/Map.png')"></div>
    <div class="info">
        <h2>Rendez vous à Polytech Nantes pour le festival</h2>
        <div>Au Bâtiment Ireste de l'école Polytech Nantes à l'adresse : Rue Christian Pauc, 44300 Nantes.</div>
        <div class="text-icon">
            <span><i class="fa-solid fa-car"></i></span>
            <p>Autoroute A11 en sortant à Nantes Est puis direction Chantrerie.</p>
        </div>
        <div class="text-icon">
            <span><i class="fa-solid fa-bus-simple"></i></span>
            <p>Lignes de bus n°75 et C6 à l'arrêt "Chantrerie Grandes Ecoles" juste devant l'école. </p>
        </div>
    </div>
</section>

<section id="club">
    <span class="logo" style="background-image: url('ressources/logo_BG.svg')"></span>
    <div class="info">
        <div class="info-container">
            <h2>Qui sommes nous ?</h2>
            <p>Nous sommes des étudiants futurs ingénieurs de l’école Polytech Nantes.</p>
            <p>Amateurs de jeux en tout genre, nous sommes investis dans l’organisation de cet évenement et nous vous attendons nombreux au Paradice Festival !</p>
        </div>
    </div>
</section>