<a>
    <img src="/ressources/LogoColored.png">
</a>

<span class="contact-button" id="open-modal">
    <i class="fa-solid fa-envelope"></i>
    Nous contacter
</span>

<div class="contact-modal-container">
    <div class="modal">
        <i id="close-modal" class="fa-solid fa-xmark close" ></i>
        <h2><i class="fa-solid fa-envelope"></i> Contact</h2>
        <p>Vous êtes</p>
        <ul>
            <li>Un créateur/éditeur voulant exposer un jeu</li>
            <li>Une marque désirant sponsoriser l'évenement</li>
            <li>Un journaliste cherchant à couvrir le festival </li>
        </ul>
        
        <p>Contactez nous à l'adresse</p>
        <textarea id="email-text" style="display:none">contactboardgamez@gmail.com</textarea>
        <div class="mail" id="copy-email">contactboardgamez@gmail.com</div>
    </div>
</div>